html {
  font-size: 62.5%;
}

.app {
  position: relative;
}

.contain {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 50rem;
  width: 70rem;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 2rem 2rem 5rem rgba(0, 0, 0, 0.5);
  border-radius: 2rem;
  border-top: 0.2rem solid rgba(255, 255, 255, 0.5);
  border-left: 0.2rem solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(0.5rem);
  padding: 5rem;
}

.zori {
  color: transparent;
  text-align: center;
  font-size: 8rem;
  margin: 0rem;
  padding: 0rem;
  font-weight: bold;
  
  background-image: url(./img/close-up-golden-glitter-textured-background.jpg);
  background-clip: text;
  background-size: 37.5rem 8rem;
}
.contain h1 {
  margin-top: 3rem;
  font-size: 13rem;
}
.contain p{
  display: block;
}

.color {
  position: absolute;
  filter: blur(15rem);
}

.color:nth-child(1) {
  width: 90rem;
  height: 60rem;
  background-color: #ff359b;
  top: -35rem;
  left: 10rem;
  z-index: -1;
}

.color:nth-child(2) {
  width: 40rem;
  height: 40rem;
  background-color: #fffd87;
  bottom: 0rem;
  left: 10rem;
}

.color:nth-child(3) {
  width: 40rem;
  height: 40rem;
  background-color: #0084ff;
  bottom: 0rem;
  right: 0rem;
}

.head {
  color: transparent;
  text-align: center;
  z-index: 1;
}

@media (max-width: 390px) {
  html {
    font-size: 27%;
  }

  .color:nth-child(1) {
    width: 60rem;
    height: 60rem;
    background-color: #ff359b;
    top: -15rem;
    left: -25rem;
  }

  .color:nth-child(3) {
    width: 30rem;
    height: 60rem;
    background-color: #0084ff;
    bottom: 50rem;
    right: 0rem;
  }

  .color:nth-child(2) {
    width: 50rem;
    height: 40rem;
    background-color: #fffd87;
    bottom: 0rem;
    left: -10rem;
  }
  .contain {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 80rem;
    width: 65rem;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 2rem 2rem 5rem rgba(0, 0, 0, 0.5);
    border-radius: 2rem;
    border-top: 0.2rem solid rgba(255, 255, 255, 0.5);
    border-left: 0.2rem solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(0.5rem);
    padding: 6rem 0rem;
  }
  .contain p {
  
    
    display: block;
    color: transparent;
    text-align: center;
    font-size: 8rem;
    margin: 0rem;
    padding: 0rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
  }

  .contain h1 {
    font-size: 15rem;
    margin-top:15rem;
  }

  .contain p {
    font-size: 9rem;
    text-align: center;
    
  }
}
